* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(./webbi.png); /* Ensure the image is in the public folder */
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
}

.container {
  background-color: rgba(0, 0, 0, 0.623);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  padding: 70px;
  gap: 1.2rem;
}

.container h1 {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(59, 185, 217);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
}

#url {
  padding: 7px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

#btn {
  color: black;
  background-color: rgb(59, 185, 217);
  padding: 7px;
  border: none;
  border-radius: 35px;
  text-align: center;
}

#btn:hover {
  background-color: aquamarine;
  color: brown;
}

.shrturl {
  padding: 7px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  border: none;
  border-radius: 2px;
}

.cpybtn {
  color: black;
  background-color: rgb(59, 185, 217);
  padding: 7px;
  border: none;
  border-radius: 35px;
  text-align: center;
}

.cpybtn:hover {
  background-color: aquamarine;
  color: brown;
}
.footer{
  color: white;
  text-align: center;
  font-size: 25px;
}
.pro{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  text-align: center;
}
.pro1{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  text-align: center;
}
.lin1{
  color:rgb(90, 203, 225);
}
.lin2{
  color: rgb(90, 203, 225);
}